.toast-enter-active[data-v-7aaa2456],.toast-leave-active[data-v-7aaa2456]{transition:all .3s ease}.toast-enter-from[data-v-7aaa2456],.toast-leave-to[data-v-7aaa2456]{opacity:0;transform:translateY(10px)}
